<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.xxmmk.mobilescanbarcode" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.FLASHLIGHT"
        android:permissionGroup="android.permission-group.HARDWARE_CONTROLS"
        android:protectionLevel="normal" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="true" />
    <application
        android:name="ru.xxmmk.mobilescanbarcode.MobileBCRApp"
        android:allowBackup="true"
        android:icon="@drawable/ico1"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ru.xxmmk.mobilescanbarcode.StartScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ru.xxmmk.mobilescanbarcode.AccLogin"
            android:label="@string/title_activity_login"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="ru.xxmmk.mobilescanbarcode.NetError"
            android:label="@string/title_activity_net_error"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="ru.xxmmk.mobilescanbarcode.ErrorLogin"
            android:label="@string/title_activity_login_error"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="ru.xxmmk.mobilescanbarcode.SetKPPAct"
            android:label="@string/title_activity_kpp" >
        </activity>
        <activity
            android:name="ru.xxmmk.mobilescanbarcode.TOneForm"
            android:label="@string/title_activity_tone_form"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="ru.xxmmk.mobilescanbarcode.ITEM"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="ru.xxmmk.mobilescanbarcode.EnterCode"
            android:label="@string/title_activity_enter_code" >
        </activity>
        <activity
            android:name="ru.xxmmk.mobilescanbarcode.ItemInfo"
            android:label="@string/title_activity_item_info" >
        </activity>
        <activity
            android:name="ru.xxmmk.mobilescanbarcode.SetT1"
            android:label="@string/title_activity_set_t1"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="ru.xxmmk.mobilescanbarcode.T1"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="ru.xxmmk.mobilescanbarcode.ResultT1"
            android:label="@string/title_activity_result_t1" >
        </activity>
    </application>

</manifest>
